doctype html 
html
  head
    title MFEE 16 Express 練習
    meta(charset="utf-8")
    link(rel='stylesheet', href="style/main.css", type='text/css')
  
  body
    include header
    //- 挖洞 
    block content
    include footer